/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
	font-family: "OoohBaby";
	src: url("/css/fonts/OoohBaby-Regular.ttf");
}

@font-face {
	font-family: "Caveat";
	src: url("/css/fonts/Caveat-VariableFont_wght.ttf");
}

@font-face {
	font-family: "Kalam-Regular";
	src: url("/css/fonts/Kalam-Regular.ttf");
}
@font-face {
	font-family: "Kalam-Bold";
	src: url("/css/fonts/Kalam-Bold.ttf");
}

html {
	background-color: rgb(255, 255, 255);
	font-family: "Kalam-Regular", Helvetica, sans-serif, Arial;
	color: #242424;
	font-size: 1.2em;
	text-align: left;
	z-index: 2;
}

.root {
	height: 100%;
	width: 100%;
}

a:any-link {
	text-decoration: none;
	color: #886e2d;
}

body {
	margin: 0;
}

.container {
	z-index: 2;
	max-width: 850px;
	min-width: 270px;
	padding: 1em 1em;
	margin: auto auto;
	/* background-color: rgba(211, 211, 211, 0.9); */
	border-radius: 50ch 50ch 3ch 3ch;
}

section {
	margin: 2rem 0;
	text-align: center;
}

.linkedInRefer > a > img {
	display: inline-block;
	vertical-align: -2px;
}

.icons {
	height: 1em;
	width: 1em;
}

#footerContainer {
	margin-top: 1.5ch;
	padding: 0;
	background-color: rgba(0, 0, 0, 0);
	border-radius: 0;
	text-align: center;
}
#footerContainer > footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footerItem {
	width: 150px;
	height: 175px;
	min-width: 120px;
	background-color: rgba(211, 211, 211, 0.9);
}

.footerItem > a {
	width: 100%;
	height: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: top;
}

.divider {
	display: block;
	height: 2px;
	border-radius: 2px;
	background-color: rgba(0, 0, 0, 0.3);
}

h1 {
	margin: 0.4em;
	color: #886e2d;
	font-size: 8vmin;
	font-family: "OoohBaby";
}
h2 {
	color: #444444;
	margin: 0.3em 0 0;
	font-size: 6vmin;
	font-family: "Caveat";
}
h3 {
	color: #555555;
	line-height: 2em;
	margin: 0;
}

h4 {
	font-size: 1.5rem;
	text-align: center;
}

header {
	z-index: 1;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 0 0 0 0;
	width: 100%;
	margin: 0;
}

header img {
	height: auto;
	width: 100vw;
	max-width: fit-content;
	border-radius: 2em;
}

header aside {
	width: 200px;
}
header .headings {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 0;
	width: 100vw;
	height: 100vw;
	max-width: 1000px;
	max-height: 1000px;
	line-height: 1.85em;
	align-content: center;
	text-align: center;
	background: url(/img/Titelkreis.png) repeat center center scroll;
	background-size: 100%;
}

header aside img {
	display: block;
	min-width: 30px;
	max-width: 200px;
	height: auto;
	border-radius: 100px;
}

button {
	--c: #886e2d; /* the color*/

	box-shadow: 0 0 0 0.1em inset var(--c);
	--_g: linear-gradient(var(--c) 0 0) no-repeat;
	background: var(--_g) calc(var(--_p, 0%) - 100%) 0%,
		var(--_g) calc(200% - var(--_p, 0%)) 0%,
		var(--_g) calc(var(--_p, 0%) - 100%) 100%,
		var(--_g) calc(200% - var(--_p, 0%)) 100%;
	background-size: 50.5% calc(var(--_p, 0%) / 2 + 0.5%);
	outline-offset: 0.1em;
	transition: background-size 0.4s, background-position 0s 0.4s;
}
button:hover {
	--_p: 100%;
	transition: background-position 0.4s, background-size 0s;
}
button:active {
	box-shadow: 0 0 9e9Q inset #0009;
	background-color: var(--c);
	color: #fff;
}

button {
	font-family: kalam-regular, system-ui, sans-serif;
	font-size: 1.5rem;
	cursor: pointer;
	padding: 0.5em 0.5em;
	font-weight: bold;
	border: none;
	border-radius: 4rem;
}

.images {
	text-align: center;
}

.geschichten {
	background-image: url(/img/flug.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.story {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.story h4 {
	font-family: "Kalam-Bold";
	width: 100%;
	font-size: 4rem;
	margin: 0;
}

.story p {
	padding: 0.5em;
}

.story img {
	padding: 0.5em;
	width: 100%;
	height: 100%;
	max-width: fit-content;
	border-radius: 2em;
}

.thanks img {
	border-radius: 2rem;
}

@media only screen and (max-width: 550px) {
	html {
		font-size: 0.9em;
	}
	.spacer {
		padding: 2em 0 2em;
	}

	.container {
		padding: 1em 1em;
	}

	header {
		justify-content: center;
	}

	header .headings {
		margin: 1em 0;
	}
}
@media only screen and (max-width: 350px) {
	.portfolio li {
		font-size: 3.5vw;
	}
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
	display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
	/* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	white-space: inherit;
	width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
	content: " ";
	display: table;
}

.clearfix::after {
	clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

@media print,
	(-webkit-min-device-pixel-ratio: 1.25),
	(min-resolution: 1.25dppx),
	(min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
	*,
	*::before,
	*::after {
		background: #fff !important;
		color: #000 !important;
		/* Black prints faster */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]::after {
		content: " (" attr(href) ")";
	}

	abbr[title]::after {
		content: " (" attr(title) ")";
	}

	/*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
	a[href^="#"]::after,
	a[href^="javascript:"]::after {
		content: "";
	}

	pre {
		white-space: pre-wrap !important;
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	/*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
