/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
	background-color: black;
	font-family: Helvetica, sans-serif, Arial;
	color: #242424;
	font-size: 1em;
	text-align: left;
}

.pageBackground {
	opacity: 0.3;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: url(/img/dot.webp) no-repeat center center fixed;
	background-size: cover;

	animation-name: fadeIn;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-duration: 5s;
	animation-fill-mode: forwards;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

a:any-link {
	text-decoration: none;
	color: #8a00b4;
}

body {
	margin: 0;
}

.spacer {
	position: relative;
	margin: 0 auto;
	padding: 2em 1em;
	max-width: 650px;
	min-width: 270px;
	z-index: 10;
}

.container {
	max-width: 650px;
	min-width: 270px;
	padding: 1em 3em;
	background-color: rgba(211, 211, 211, 0.9);
	border-radius: 50ch 50ch 3ch 3ch;
}

.linkedInRefer > a > img {
	display: inline-block;
	vertical-align: -2px;
}

.icons {
	height: 1em;
	width: 1em;
}

#footerContainer {
	margin-top: 1.5ch;
	padding: 0;
	background-color: rgba(0, 0, 0, 0);
	border-radius: 0;
	text-align: center;
}
#footerContainer > footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footerItem {
	width: 150px;
	height: 175px;
	min-width: 120px;
	background-color: rgba(211, 211, 211, 0.9);
}

.footerItem > a {
	width: 100%;
	height: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: top;
}

#footerLeft {
	border-radius: 3ch 3ch 50ch 3ch;
	margin-right: 1ch;
}

#footerMiddle {
	border-radius: 50ch 50ch 0 0;
	width: 200px;
	height: 200px;
	margin: 0 1ch;
	min-width: 30px;
	background-color: rgba(211, 211, 211, 0);
	background-image: linear-gradient(
		rgb(254, 229, 188),
		rgb(255, 90, 13),
		rgba(255, 0, 0, 0.5),
		rgba(255, 0, 0, 0.1),
		rgba(255, 247, 0, 0),
		rgba(255, 247, 0, 0)
	);
}

#footerRight {
	margin-left: 1ch;
	border-radius: 3ch 3ch 3ch 50ch;
}

.divider {
	display: block;
	height: 2px;
	border-radius: 2px;
	background-color: rgba(0, 0, 0, 0.3);
}

h1 {
	margin: 0;
}
h2 {
	color: #444444;
	margin: 0;
}
h3 {
	color: #555555;
	line-height: 1.3em;
	margin: 0;
}

h4 {
	text-align: left;
}

header {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	padding: 2em 0 0 0;
	width: fit-content;
	margin: auto auto;
}

header aside {
	width: 200px;
}
header .headings {
	margin: auto 0;
	width: auto;
	margin: 1em 2em;
	line-height: 1.85em;
	text-align: left;
}

header aside img {
	display: block;
	min-width: 30px;
	max-width: 200px;
	height: auto;
	border-radius: 100px;
}

.introduction p {
	font-weight: bold;
	color: #444444;
}

.portfolio {
	text-align: center;
	font-weight: bold;
}

#projectLinkWrapper {
	display: inline-block;
	padding: 0 0 1em;
}

@media only screen and (max-width: 550px) {
	html {
		font-size: 0.9em;
	}
	.spacer {
		padding: 2em 0 2em;
	}

	.container {
		padding: 1em 1em;
	}

	header {
		justify-content: center;
	}

	header .headings {
		margin: 1em 0;
	}
}
@media only screen and (max-width: 350px) {
	.portfolio li {
		font-size: 3.5vw;
	}
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
	display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
	/* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	white-space: inherit;
	width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
	content: " ";
	display: table;
}

.clearfix::after {
	clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

@media print,
	(-webkit-min-device-pixel-ratio: 1.25),
	(min-resolution: 1.25dppx),
	(min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
	*,
	*::before,
	*::after {
		background: #fff !important;
		color: #000 !important;
		/* Black prints faster */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]::after {
		content: " (" attr(href) ")";
	}

	abbr[title]::after {
		content: " (" attr(title) ")";
	}

	/*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
	a[href^="#"]::after,
	a[href^="javascript:"]::after {
		content: "";
	}

	pre {
		white-space: pre-wrap !important;
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	/*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
