.container {
    max-width: 650px;
    min-width: 270px;
    padding: 1em 3em;
    background-color: rgba(211, 211, 211, 0.90);
    border-radius: 3ch;
}

header {
    height: 100%;
    width: 100%;
    display: inline-block;
}

p {
    font-weight: bold;
    color: #444444;
}

h2 {
    margin: 1em 0;
}

.projectContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.projectItem-3lines {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.projectItem-2lines {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.projectItem-3lines > a {
    width: 30%;
    text-align: center;
}

.projectItem-3lines > p {
    width: 40%;
}

.projectItem-2lines > a {
    width: 30%;
    text-align: center;
}

.projectItem-2lines > p {
    width: 65%;
    padding: 2.5%;
}

section > a > img {
    padding: 0 1em;
    width: 70%;
    max-width:120px;
}

.divider {
    margin: 1em 0;
}



@media only screen and (max-width: 500px) {
    .projectItem-3lines > * {
        width: 100% !important;
    }

    .projectItem-2lines > * {
        width: 100% !important;
    }
}